
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Flags</h1>
      <ul class="list-group text-center">
        <% @flags.each do |i| %>
        <li><%= i.flag_info.flag_name %>  </li>
        <% end %>
      </ul>
    </div>


    <%= render "partial/user_info_form" %>
  </div>
