<h1> Solution Name (Example: Take the SAT!) </h1>
<p>
   Risk description
</p>
<button> Implement </button>

 When Implement is hit, there is a series of events that happen such as

 <ol>
   <li>
    Momentary pause on flag
   </li>
   <li>
     Future reminders and tasks assigned that need to be accomplished
   </li>
 </ol>
