<h1>Testing#test1</h1>
<p>Find me in app/views/testing/test1.html.erb</p>
<%= form_for @user, url: welcome_index_path, html: { method: :put } do |f| %>
    <%= f.text_field :first_name %>
    <%= f.submit "Create" %>
  <% end %>
