<!DOCTYPE html>
<html>
  <head>
    <title>Amigos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    body {
          font-family: 'Arimo', sans-serif;
          background-color:#fafafa;
        };
  .top-buffer { margin-top:20px; }

         </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
